@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital@1&family=Roboto:ital,wght@1,300&family=Space+Mono&display=swap');

h1, h4, li, p {
    font-family: 'Montserrat', sans-serif;
}

#first-last-name {
    text-align: center;
    padding-top: 20px;
}

#nav-bar {
    text-align: center;
}

#nav-links {
    margin: auto;
}

#profile-picture {
    padding-top: 20px;
}

h6 {
    padding-top: 10px;
    text-align: center;
}

#about-me {
    text-align: center;
    padding-top: 15px;
    margin: auto;
    padding-left: 35%;
    padding-right: 35%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    text-align: center;
    width: 250px;
}

.col-md-4 {
    padding-top: 20px;
    border: 1px solid black;
}

#skills-and-interests {
    padding-top: 40px;
    text-align: center;
}

#skills-list p {
    list-style-type: none;
    margin: auto;
    line-height: 50%;
}