#first-last-name {
    text-align: center;
    padding-top: 20px;
}

#nav-bar {
    text-align: center;
}

#nav-links {
    margin: auto;
}

#profile-picture {
    padding-top: 20px;
}

#about-me {
    text-align: center;
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    text-align: center;
    width: 250px;
}

#skills-and-interests {
    padding-top: 40px;
}