#first-last-name {
    text-align: center;
    padding-top: 20px;
}

#nav-bar {
    text-align: center;
}

#nav-links {
    margin: auto;
}


#about-me {
    text-align: center;
    padding-top: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    text-align: center;
    width: 250px;
}